.collateral-style{
    margin-top: 8rem;
    text-align: center;
}

.collateral-text{
    color: #6C0505;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 161.9%;
}