@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.docH{
    color: #000;
    text-align: center;
    font-family: Merriweather;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 161.9%;
}

.mob7{
    background-color: #fff;
}

.docP{
    font-size: 0.875rem;
}

.docUl{
    padding: 6.25rem 4.75rem 3.75rem 4.75rem;
    margin-left: -4.5rem;
    justify-content: space-between;
}

.my-5{
    margin-top: 8rem!important;;
}
@media only screen and (min-width: 190px) and (max-width: 300px){
    .med7{
        flex-direction: column;
        margin-bottom: -3.5rem;
    }
    .docUl{
        padding: 3.25rem 3.75rem 0rem 3.75rem;
        margin-left: -0.5rem;
    }
    .mob7{
        width: 120%;
        margin-bottom: 0.7rem;
    }
    .docP{
        margin-top: 7rem;
    }
}

@media only screen and (min-width: 301px) and (max-width:360px) {
    .med7{
        flex-direction: column;
        margin-bottom: -3.5rem;
    }
    .docUl{
        padding: 3.25rem 3.75rem 0rem 3.75rem;
        margin-left: -0.5rem;
    }
    .mob7{
        width: 100%;
        margin-bottom: 0.7rem;
    }
    
    .docP{
        margin-top: 7rem;
    }
}

@media only screen and (min-width: 361px) and (max-width:767px) {
    .med7{
        flex-direction: column;
        margin-bottom: -3.5rem;
    }
    .mob7{
        margin-bottom: 0.5rem;
    }

    .docUl{
        padding: 3.25rem 4.75rem 3.75rem 4.75rem;
        margin-left: 0;
    }
    
    .docP{
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    .docH{
        margin-bottom: -4rem;
    }
}