@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.heroText{
    font-family: Inter;
    background-color: #fff;
    font-weight: 900;
}

.backImg{
    background-image: url('../assets/img/Group 106.png');
}

#heroText{
    margin-top: 10rem;
}

#weddingHead{
    color: #6c0505;
}

.paraHero{
    font-family: Inter;
    font-weight: bolder;
}

.btn_Hero{
    font-family: Inter;
    background-color: #6c0505;
    color: #fff;
    border: 1px solid #6c0505;
    font-weight: 900;
    stroke:#6c0505;
    width: 10%;
}

.btn_Hero:hover{
    background-color: #470303;
    border: 1px solid #6c0505;
    color: #fff;
}

#heroImg1{
    /* position: absolute; */
    margin-top: -3.5rem;
    width: 555px;
    height: 316px;
    margin-left: 4rem;
    z-index: -1;
}
#heroImg2{
    /* position: absolute; */
    width: 423px;
    height: 373px;
    margin-top: -7rem;
    margin-left: 10rem;
    z-index: -1;
}

@media only screen and (max-width: 320px){
    #heroImg1{ 
        width: auto;
        margin-top: 0rem;
        margin-left: 0;
        height: auto;
    }
    .btn_Hero{
        margin-top: -1.1rem;
    }
    #heroImg2{
        display: none;
    }
    #heroText{
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 321px) and (max-Width: 351px){
    #heroImg1{
        width: auto;
        height: auto;
        margin-left: 0.3rem;
        margin-top: 0.2rem;
    }
    .btn_Hero{
        margin-top: -1.2rem;
    }
    #heroImg2{
        display: none;
    }
    #heroText{
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 351px) and (max-Width: 401px){
    #heroImg1{
        width: auto;
        margin-left: 0rem;
        margin-top: 0.2rem;
        height: auto;
    }
    .btn_Hero{
        margin-top: -1.2rem;
    }
    #heroImg2{
        display: none;
    }
    #heroText{
        margin-top: 5rem;
    }
} 
@media only screen and (min-width: 401px) and (max-Width: 440px){
    #heroImg1{
        width: auto;
        margin-left: 0rem;
        margin-top: 1rem;
        height: auto;
    }
    .btn_Hero{
        margin-top: -1.2rem;
    }
    #heroImg2{
        display: none;
    }
    #heroText{
        margin-top: 5rem;
    }
} 
@media only screen and (min-width: 441px) and (max-Width: 500px){
    #heroImg1{
        width: auto;
        margin-left: 0rem;
        margin-top: 1rem;
        height: auto;
    }
    .btn_Hero{
        margin-top: -1.25rem;
    }
    #heroImg2{
        display: none;
    }
    #heroText{
        margin-top: 5rem;
    }
} 

@media only screen and (max-width: 1200px) {
    .btn_Hero{
        width: auto;
    }
}

@media only screen and (min-width: 501px) and (max-width: 557px){
    #heroImg1{
        margin-top: 0;
        width: auto;
        margin-left: 0rem;
        height: auto;
    }
    #heroImg2{
       display: none;
    }
    .btn_Hero{
        margin-top: -1.1rem;
    }
}

@media only screen and (min-width: 558px) and (max-width: 766px){
    #heroImg1{
        margin-top: 0;
        width: auto;
        margin-left: 0;
        margin-left: 0rem;
        height: auto;
    }
    #heroImg2{
        margin-top: 0;
        display: none;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px){
    #heroImg1{
        margin-top: -3rem;
        width: 360px;
        margin-left: 0rem;
    }
    #heroImg2{
        margin-top: -24rem;
        width: 290px;
        margin-left: 25rem;
    }
} 

/* @media only screen and (min-width: 900px) and (max-width: 991px){
    #heroImg1{
        margin-top: -4rem;
        width: 380px;
        margin-left: 3rem;
    }
    #heroImg2{
        margin-top: -6rem;
        width: 340px;
        margin-left: 32rem;
    }
}  */

@media only screen and (min-width: 992px) and (max-width: 1199px){
    #heroImg1{
        margin-top: -4rem;
        margin-left: 0rem;
        width: 430px;
    }
    #heroImg2{
        margin-top: -7.5rem;
        margin-left: 3.5rem;
        width: 380px;
    }
} 

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    #heroImg1{
        margin-top: -4rem;
        margin-left: 2rem;
        width: 450px;
    }
    #heroImg2{
        margin-top: -7.5rem;
        margin-left: 5.5rem;
        width: 420px;
    }
}